MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret

CLIENT_URL=http://localhost:5173

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

TEACHER_NAME=
TEACHER_EMAIL=
TEACHER_PASSWORD=

STUDENT_NAME=
STUDENT_EMAIL=
STUDENT_PASSWORD=